
out/build/x64-Debug/VSInheritEnvironments.txt
out/build/x64-Debug/Projekt.pdb
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/Projekt.exe
.vs/projekt1/FileContentIndex/7f51bee2-6311-4ac1-9c2e-a946375c4ea0.vsidx
.vs/projekt1/v17/.wsuo
.vs/cmake.db
.vs/ProjectSettings.json
.vs/CMake Overview
.vs/projekt1/FileContentIndex/read.lock
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-2792a1ee937be6793bb7.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-fa12363db1b688e458a8.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-c563e51d67f2f9ee535f.json
out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2022-11-19T20-07-04-0269.json
out/build/x64-Debug/.cmake/api/v1/reply/target-Projekt-Debug-dac52d8658224a063296.json
out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-116383d3eba4efb5b429.json
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/build.ninja
out/build/x64-Debug/cmake_install.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/CMakeOutput.log
out/build/x64-Debug/CMakeFiles/Projekt.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/Projekt.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/Projekt.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/Projekt.dir/manifest.res
out/build/x64-Debug/CMakeFiles/Projekt.dir/Projekt.obj
out/build/x64-Debug/CMakeFiles/Projekt.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/rules.ninja
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
out/build/x64-Debug/Projekt.ilk
out/build/x64-Debug/.cmake/api/v1/reply/index-2022-11-19T20-25-44-0691.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-030b7eaa64d4ccf30f2d.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-494c0e64be9352d39509.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-f01cb4b52d098a396f7e.json
.vs/projekt/v17/ipch/AutoPCH/fef44c71eea745d3/PROJEKT.ipch
.vs/projekt/v17/ipch/AutoPCH/b30c17c9287a4093/PROJEKT.ipch
.vs/projekt/v17/Browse.VC.opendb
.vs/projekt/v17/Browse.VC.db-wal
.vs/projekt/v17/Browse.VC.db-shm
.vs/projekt/v17/Browse.VC.db
.vs/projekt/v17/.wsuo
.vs/projekt/FileContentIndex/read.lock
.vs/projekt/FileContentIndex/2788c08b-ae4d-418e-bcfe-30e77c4f4359.vsidx
.vs/projekt/FileContentIndex/fcfaa876-30f9-4768-9324-00233e2ce0e4.vsidx
